<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Check_green_icon.svg/323px-Check_green_icon.svg.png" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="main">
      <form class="mainform" name="mainform">
        <input type="text" class="name-inp" name="renaming">
        <input type="file" class="file-inp" name="dowloads">
        <button type="submit">
          Ok
        </button>
      </form>

      <div class="status"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"></script>
   <script src="./javascripts/main.js"></script>
  </body>
</html>
